.single-red-button-container {
  flex: 1; /* 均分每一个组件高度 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* ⬅ 居中内容 */
  min-height: 0; /* 防止 overflow */
  box-sizing: border-box;
  padding: 4px;
  overflow: hidden; /* ⛔️ 保证字不溢出变大 */

  font-size: calc(0.6vw + 0.6vh); /* 👈 核心，viewport 相对单位，可以调节 */
}

.red-button {
  width: 80%; /* 相对宽度 */
  aspect-ratio: 1 / 1; /* 保持圆形 */
  border-radius: 50%;
  border: 0.2em solid;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* max-width: 30px; */
  flex-shrink: 0;
  /* ✅ 防止因为上下文字挤压按钮 */
}

.top-label,
.bottom-label {
  font-size: 0.6em; /* 相对缩放 */
  width: 6.5em;
  /* 一个汉字占两个fs 这里的width能容纳5个汉字 */
  color: white;
  text-align: center;
  line-height: 1.2;
  transition: opacity 0.2s ease;
  margin: 4px 0;
}
