.emergency-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
  /* font-size: calc(0.6vw + 0.6vh); */
  /* => 子元素使用 em 单位响应此大小 */

  /* padding: 4px; */
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

.emergency-button {
  width: 3em; /* 相当于 30px 可变 */
  height: 3em;
  border-radius: 50%;
  border: 0.2em solid white;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

/* 中间白圈 */
.white-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  /* border: 0.2em solid white; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 三圆弧（将白圈分为三等分） */
.arc {
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 0.2em solid transparent;
  border-top-color: white;

  top: 0.2em;
  left: 0.2em;
}

.arc1 {
  transform: rotate(0deg);
}
.arc2 {
  transform: rotate(120deg);
}
.arc3 {
  transform: rotate(240deg);
}

.button-label {
  margin-top: 0.5em;
  font-size: 0.6em; /* 相对于 container 字体大小变化 */
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
