.grey-border-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
}

.grey-border-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #999; /* 灰边 */
  cursor: pointer;
}

.button-label {
  font-size: 12px;
  color: white;
  margin-top: 4px;
  text-align: center;
  width: 60px;
}
