.operation-mode-knob {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.knob-title {
  font-size: 10px;
}

.knob-svg {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.mode-label {
  font-size: 14px;
  fill: #444;
  pointer-events: none;
}

.current-mode {
  font-size: 16px;
  fill: #222;
}
