.split-combine-knob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  width: 65px;
  /* padding: 4px; */
}

/* “分”“合”标签容器 */
.knob-state-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.label-left,
.label-right {
  font-size: 10px;
  width: 20px;
  height: 25px;
}

.label-left {
  margin-left: 2px;
}
.label-right {
  margin-right: 2px;
}

/* 外层灰色圆环 */
.knob-outer-ring {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444; /* 深色背景 */
}

.knob-indicator {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: #666; /* 旋钮主体颜色 */
}

/* 分状态：红色箭头 */
.knob-indicator.分::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #f00;
  transform: rotate(-45deg);
  top: 3px;
  left: 10px;
}

/* 合状态：绿色箭头 */
.knob-indicator.合::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #0f0;
  transform: rotate(45deg);
  top: 3px;
  left: 10px;
}

.knob-label {
  font-size: 11px;
  margin-top: 3px;
  text-align: center;
  white-space: normal;
  word-break: break-all;
  line-height: 1.2;
  max-width: 60px;
}
